{% extends '@Event/show.html.twig' %}
{% include '@Rsvp/_card.html.twig' only %}
{% from '@Design/macros.html.twig' import button %}
{% import '@Design/macros.html.twig' as ui %}
{% set label = 'Module/Event/show.html.twig' %}
<p>Module/Event/show.html.twig as plain text is fine</p>
