<turbo-stream action="replace" target="user-profile">
    <template>Updated profile</template>
</turbo-stream>
<turbo-stream action="append" target="project-list">
    <template><li>New project</li></template>
</turbo-stream>
